main {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 0 1.6rem 8rem;
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cover__thumbnail {
  width: 100%;
}

.cover__title {
  margin: 0;

  color: var(--dark-space-blue);

  font: var(--heading-l);
}

.cover__description {
  margin: 1.6rem 0 2.4rem;

  color: var(--gunmetal);

  font: var(--body);
}

.button {
  padding: 1.2rem 3.3rem;
  border: none;

  color: var(--almost-white);
  background-color: var(--light-vermillion);

  font: var(--button-small);
  letter-spacing: 0.438rem;
}

.button:hover {
  color: var(--almost-white);
  background-color: var(--dark-space-blue);

  cursor: pointer;
}

.latest {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.4rem 2rem;

  background-color: var(--dark-space-blue);
}

.latest__title {
  margin: 0 0 0.5rem;

  color: var(--yellow);

  font: var(--heading-m);
}

.latest__split {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--stroke-gray);
}

.latest-new__title {
  margin: 0 0 0.8rem;

  color: var(--almost-white);

  font: var(--heading-s);
}

.latest-new__title:hover {
  color: var(--yellow);

  cursor: pointer;
}

.latest-new__body {
  margin: 0;

  color: var(--silver);

  font: var(--body);
}

.news {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.new {
  display: flex;
  gap: 2.4rem;
}

.new__thumbnail {
  width: 10rem;
}

.new__id {
  color: var(--silver);

  font: var(--heading-m);
}

.new__title {
  margin: 1.2rem 0 0.9rem;

  color: var(--dark-space-blue);

  font: var(--heading-xs);
}

.new__body {
  margin: 0;

  color: var(--gunmetal);

  font: var(--body);
}

.new__title:hover {
  color: var(--light-vermillion);

  cursor: pointer;
}
