:root {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;

  /* Colors */
  --almost-white: hsl(36, 100%, 99%);
  --dark-space-blue: hsl(240, 100%, 5%);
  --yellow: hsl(35, 78%, 62%);
  --silver: hsl(236, 8%, 79%);
  --stroke-gray: hsl(4, 13%, 42%);
  --gunmetal: hsl(237, 13%, 42%);

  /* Fonts */
  --heading-m: 700 3.2rem/3.2rem "Inter", sans-serif;
  --heading-s: 800 2rem/2.4rem "Inter", sans-serif;
  --heading-xs: 800 1.8rem/2.4rem "Inter", sans-serif;
  --body: 400 1.5rem/2.6rem "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--almost-white);

  font-size: 1.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 0 1.6rem 8rem;
}
